<html>

  <body>
    <p>
      Player1: <%= $player1.name %> vs Player2: <%= $player2.name%>
    </p>
    <p>
      <%= $player2.name %>'s hp: <%= $player2.hp %>
    </p>
    <form action="attack" method="post">
      <input type="submit" value="Attack">
    </form>

  </body>

</html>
